# Java class files
*.class

# Maven build directory
target/

# VS Code settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.swp
*.bak
*.tmp
*~

# IDE metadata
*.iml
.project
.classpath
.idea/
